.main-div{
    background-color: #E0D7CE;
}

.nav-color{
    background: #6E748B;
}

.navbar-default .navbar-brand {
    color: white;
}

.color-yellow{
    color: #E5961F;
}

.color-white{
    color: white;
}

.color-text{
    color: #333;
}

.weight-text{
    font-weight: 700;
}

.color-black{
    color: black;
    font-weight: 700;
}

.main-logo{
    width: 90px;
    height: 90px;
}

.navbar-header{
    display: flex;
    align-items: center;
}

.main-2-div{
    display: flex;
    align-items: center;
}

.text-g{
    font-size: 75px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: left;
}

.text-g2{
    font-size: 40px;
    color: #35AFBF;
}

.text-g3{
    font-size: 26px;
    font-weight: 400;
}

.img-ramen{
    width: 540px;
    height: 678px;
}

.text-p{
    font-size: 34px;
    font-weight: 500;
    line-height: 125%;
}

.text-logo{
    font-size: 42px;
    color: #35AFBF;
    font-weight: 700;
}

.img-gril{
    width: 50%;
    border-radius: 50px;
}

.cat-head{
    font-size: 40px;
    font-weight: 700;
    color: #3A4253;
}

.main-cat-rec{
    width: 200px;
    /* Colors/Gray/Gray 2 */
    border: 1px solid rgb(244, 244, 246);
    border-radius: 30px;
    box-shadow: 6px 0px 40px 0px rgba(229, 229, 229, 0.7);
    /* Pure White */
    background: rgb(255, 255, 255);
    padding: 10px;
}

.card-title-text{
    font-size: 16px;
    font-weight: 700;
    color: #6E748B;
}

.btn-rec{
    color: #fff;
    background-color: #6E748B;
    border-color: transparent;
}

.btn-filter{
    color: #fff;
    background-color: #E5961F;
    border-color: transparent;
}

.rec-info{
    display: flex;
    justify-content: space-around;
}

.rec-info2{
    display: flex;
}

.rec-cat{
    background-color: #F7EDD0;
    padding: 5px;
    color: #DAA31A;
    border-radius: 5px;
    font-size: 12px;
}

.rec-heart{
    position: absolute;
    left: 175px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.text-black{
    color: black;
}

.single-recipe-detail {

}

.recipe-detail{
    display: flex;
    margin-bottom: 10px;
}

.rating-box{

}

.rating-figure {
    margin-left: 10px;
    padding-top: 3px;
}

.recipe-detail-images{
    width: 70%;
    position: relative;
}

.recipe-detail-img{
    border-radius: 10px;
    margin-right: 30px;

}

.rating-stars{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
}

.recipe-detail-star{
    width: 50px;
}

.recipe-specs{
    margin-bottom: 0;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}

.recipe-specs-box{
    margin-bottom: 20px;
    background: #E5961F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 125%;
    height: 30%;
    justify-content: center;
}

.specs-detail{
    margin: 0;

}

.specs-detail-text{
    background-color: #3A4253;
    border-radius: 10px;
    padding: 10px;
    width: 85%;

}

.detail-text{
    font-weight: 700;
    font-size: 18px;
}

.specs-title{
    margin: 0;
    line-height: 100%;
}

.recipe-info{
    display: flex;
    background-color: #BDBDBD;
    align-items: center;
    justify-content: space-around;

}

.recipe-times{
    width: 20%;
    border: 1px solid;

}

.recipe-time{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.recipe-bzu{
    margin-bottom: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 13px;
    justify-content: space-between;
    width: 80%;
}

.recipe-bzu-detail{

    padding: 10px;
    background: #E5961F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 125%;
    height: 30%;
    width: 15%;
    justify-content: center;
}

.rec-star{
    width: 25px;
}

.section-account{
    display: flex;
}

.section-account-div{
    height: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-left{
    display: flex;
    width: 30%;
    background-color: #6E748B;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
}

.div-right{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.div-right-info{
    display: flex;
    justify-content: space-evenly;
}

.margin-top-20{
    margin-top: 20px;
}

.account-text-info{
    background-color: #F5F5F5;
    padding: 10px;
    width: 300px;
    display: block;
    border-radius: 10px;
    font-size: 20px;
}

.padding-10{
    padding: 20px;
}

.div-fav{
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.div-fav-text{
    display: flex;
    flex-direction: column;
}

.img-fav{
    width: 150px;
    margin-right: 20px;
}

.star-fav{
    width: 40px;
}

.div-ingredients{
}

.div-ingr{
    width: 80%;
    padding: 0 50px 0 50px;
}

.ingr{
    display: flex;
}

.ingr-text{
    display: flex;
    width: 80%;
    justify-content: space-between;
    text-decoration: underline;
}

.div-step{
    padding: 0 50px 0 50px;
    margin-bottom: 15px;
}

.step-text{
    font-size: 20px;
}

.step-img{
    width: 30%;
    margin-right: 10px;
}

.div-star-fav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.your-star{
    display: flex;
}

.your-fav{
    display: flex;
    align-items: center;
}

.fav-text{
    margin-right: 10px;
    text-align: center;
    font-weight: 700;
}

.star-text{
    align-items: center;
    font-weight: 700;
}

.section-search{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Кнопка выпадающего списка */
.drop-btn {
    background-color: #E5961F;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.drop-down {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.drop-down-content {
    width: max-content;
    display: none;
    padding: 10px;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

/* Показать выпадающее меню при наведении курсора */
.drop-down:hover .drop-down-content
{display: flex;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.drop-down:hover .drop-btn
{background-color: #E5961F;}

.multi-select-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.multi-select-menuitems{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
}

.multi-select-menuitem{
    margin: 5px;
    font-size: 19px;
}

.multi-select-menuitem input{

}


.multi-select-menuitem input:checked{
  &:before {
      animation: pop .3s ease;
      z-index: 100;
      background: $border-color;
     }
}


.multi-select-container{
    display: flex;
    flex-direction: column;
}
.multi-select-button{
    width: 250px;
    border: 1px solid grey;
    border-radius: 2em;
    margin-bottom: 10px;
    padding: 10px;

    display: none;
}

.filter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.filter-label{
    display: flex;
}

.filter-label, filter-date{
    margin: 0.4rem 0;
}

.form-search{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 200px;
    height: 50px;

    box-sizing: border-box;
    padding: 5px;
}

.input-search{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 1px;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background: #E5961F;
    color: white;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.form-search:hover{
    cursor: pointer;
}

.div-search{
    margin-right: 60px;
}

.div-about-1{
    display: flex;
    margin: 20px 0;
}

.div-history{
    width: 50%;
    margin-right: 20px;
}

.div-img{
    width: 50%;
}

.img-about{

}

.div-about-2{
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
}

.div-about-3{

    display: flex;
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
}

.div-about-info{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}





