html{
    font-family: Roboto;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: #323142;
    font-size: 30px;
    font-weight: 600;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.text{
    text-align: center;
    color: #323142;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 15px;
}

.div-in{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-auth{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    margin-bottom: 5px;
}

.div-auth:last-child{
    margin-bottom: 0;
}

input{
    width: 400px;
    font-size: 32px;
    color: #323142;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px #D9D9D9 solid;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    margin-bottom: 7px;
}

.div-title{
    color: #323142;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
    margin: 5px;
}

.div-forgot-pass{
    width: 400px;
    display: flex;
    justify-content: flex-end;
}

.forgot-pass{
    color: #E5961F;
    font-weight: 700;
    text-decoration: none;
}

.btn-auth{
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background: #E5961F;
    border-radius: 10px;
    overflow: hidden;
    border: 1px #E5961F solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    margin-bottom: 15px;
    margin-top: 15px;

    color: white;
    font-size: 14px;
    font-weight: 700;
    word-wrap: break-word;
    text-decoration: none;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-text{
    color: #323142;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    margin-right: 10px;
}

.register-btn{
    color: #E5961F;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word;
    text-decoration: none;
}

label{
    color: #323142;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
    margin: 5px;
    margin-bottom: 3px;
}

.helptext{
    display: none;
}

br{
    display: none;
}