{% extends 'users/base_auth.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <form action="{% url 'password_reset' %}" method="post" class="form-login">

        <h1 class="title">Сброс пароля</h1>
        <p class="div-title">Введите ваш Email</p>
        {{ form }}
        <button class="btn-auth" type="submit">Отправить письмо на почту</button>
        {% csrf_token %}
    </form>

    <div class="register">
        <p class="register-text">У вас есть учетная запись?</p>
        <a class="register-btn" href="{% url 'login' %}">Войти</a>
    </div>

{% endblock %}
