{% extends 'main/base_layout.html' %}
{% load static %}


{% block title %} {{ title }} {% endblock %}


{% block head %}

{% endblock head %}


{% block content %}

<section class="feature-section section-padding">
    <div class="container">
        <h3 class="cat-head">Каталог</h3>
        <br>
        <div class="row row-cols-1 row-cols-md-2">

            <section class="section-search">
            <div class="drop-down">
                <button class="drop-btn">Фильтр ▼</button>
                <div class="drop-down-content">
                    <form method="get" >
                        {{ filtersGames.form.idGame_id }}
                        <script>
                            $('#id_category').multiSelect();
                        </script>
                        <button type="submit" class="btn btn-filter">Найти</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="div-search">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
                <form class="form-search" action="">
                    <input class="input-search" placeholder="Искать...">
                    <i class="fa fa-search"></i>
                </form>
            </div>
        </section>
            {% for el in recipes %}
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30 maxRail">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{{ el.image.url }}" class="card-img-top" style="border-radius: 20%;" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">{{ el.idGame.name }}</span>  <!-- КАКАЯ ИГРА-->
                        <h5 class="card-title card-title-text ">{{ el.name }}</h5> <!-- Название блюда -->
                        <div class="rec-info margin-bottom-10">
                            <span >{{ el.cookingFullTime }} мин</span>
                            <div class="rec-info2">
                                <img class="rec-star" src="{% static 'main/img/image15.png' %}">
                                <span>{{ el.grade }}</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10" href="{% url 'recipe' el.id %}">Рецепт</a>
                    </div>
                </div>
            </div>
            {% endfor %}








        </div>
    </div>
</section>
{% endblock content %}


{% block jscode %}

{% endblock jscode %}