{% extends 'main/base_layout.html' %}
{% load static %}


{% block title %} {{ title }} {% endblock %}


{% block head %}

{% endblock head %}


{% block content %}

<section class="feature-section section-padding">
    <div class="container">
        <h3 class="cat-head">Каталог</h3>
        <br>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10" href="{% url 'recipe' %}">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10" href="{% url 'recipe' %}">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10" href="{% url 'recipe' %}">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10" href="{% url 'recipe' %}">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10">Рецепт</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}


{% block jscode %}

{% endblock jscode %}