{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ title }} {% endblock %}</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="icon" href="{% static 'main/img/index-img/sm-logo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap" rel="stylesheet">

	<meta name="description" content="Транспортная компания">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<!-- Bootstrap Core CSS -->
	<link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- Main menu -->
	<link href="{% static 'main/css/menu.css' %}" rel="stylesheet">
	<!-- Template Common Styles -->
	<link href="{% static 'main/css/template.css' %}" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'main/css/base_layout.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/main.css' %}">

    {% block head %}

    {% endblock head %}

</head>
<body>
<div class="all-body">
	<div id="st-container" class="st-container">
		<div class="st-pusher">
			<div class="st-content">
				<header class="header">
					<nav class="navbar navbar-default nav-color" role="navigation">
						<div class="container mainnav">
							<div class="navbar-header">
									<img class="main-logo" src="{% static 'main/img/logo1.png' %}" alt="">
									<a class="navbar-brand" href="{% url 'home' %}">G-Tastes</a>
							</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse navbar-collapse">

									<ul class="nav navbar-nav navbar-right">

												<li><a href="{% url 'home' %}">Главная</a></li>

												<li><a href="{% url 'all_recipes' %}">Рецепты</a></li>

												<li><a href="{% url 'account' %}">Контакты</a></li>

												<li class=""><a href="#">О нас</a></li>

											<li class="dropdown active">
<!--													<a class="btn btn-primary"></a>-->
<!--													<div class="submenu-wrapper">-->
<!--														<div class="submenu-inner">-->
<!--															<ul class="dropdown-menu">-->
<!--																<li><a href="{% url 'account' %}">Профиль</a></li>-->
<!--																<li><a href="#">Выход</a></li>-->
<!--															</ul>-->
<!--														</div>-->
<!--													</div>-->

													<a class="color-yellow" href="{% url 'login' %}">Вход →</a>

											</li>

									</ul>

								</div><!-- /.navbar-collapse -->
							</div><!-- /.container -->


						</nav>
					</header>

					<main class="main-div">
						{% block content %}

						{% endblock content %}
					</main>

			        <!-- footer-widget-section start -->
				<section class="footer-widget-section section-padding">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-md-offset-1 col-sm-4">
								<div class="footer-widget">
									<h3>Контакты</h3>
									<address class="color-white">
									  ул. Муштари, 13<br>
									  Россия, Казань 420000<br>

									  <span class="tel">(954)616-99-26</span>
									</address>
								</div><!-- /.footer-widget -->
							</div><!-- /.col-md-4 -->

							<div class="col-md-3 col-sm-4">
								<div class="footer-widget">
									<h3>Страницы</h3>
									<ul>
										<li><a href="{% url 'home' %}">Главная</a></li>
										<li><a href="{% url 'all_recipes' %}">Рецепты</a></li>
										<li><a href="#">Контакты</a></li>
										<li><a href="#">О нас</a></li>
									</ul>
								</div><!-- /.footer-widget -->
							</div><!-- /.col-md-4 -->

							<div class="col-md-3 col-sm-4">
								<div class="footer-widget ">
									<img class="" src="{% static 'main/img/logo1.png' %}" alt="">
<!--									<a class="" href="{% url 'home' %}">G-Tastes</a>-->
								</div><!-- /.footer-widget -->
							</div><!-- /.col-md-4 -->
						</div><!-- /.row -->
					</div><!-- /.container -->
				</section><!-- /.cta-section -->
				<!-- footer-widget-section end -->

			</div> <!-- .st-content -->
		</div> <!-- .st-pusher -->
	</div><!-- /st-container -->

</div>


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
<!--	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>-->

<!--	<script src="{% static 'main/js/vendor/modernizr-2.8.1.min.js' %}a"></script>-->
<!--	&lt;!&ndash; HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries &ndash;&gt;-->
<!--	&lt;!&ndash; WARNING: Respond.js doesn't work if you view the page via file:// &ndash;&gt;-->
<!--	&lt;!&ndash;[if lt IE 9]>-->
<!--		<script src="{% static 'main/js/vendor/html5shim.js' %}"></script>-->
<!--		<script src="{% static 'main/js/vendor/respond.min.js' %}"></script>-->
<!--	<![endif]&ndash;&gt;-->



<!--	<script src="{% static 'main/js/address.js' %}"></script>-->

<!--	&lt;!&ndash; jQuery &ndash;&gt;-->
<!--	<script src="{% static 'main/js/jquery.js' %}"></script>-->

<!--	&lt;!&ndash; Bootstrap Core JavaScript &ndash;&gt;-->
<!--	<script src="{% static 'main/js/bootstrap.min.js' %}"></script>-->
<!--	&lt;!&ndash; owl.carousel &ndash;&gt;-->
<!--	<script src="{% static 'main/owl.carousel/owl.carousel.min.js' %}"></script>-->
<!--	&lt;!&ndash; Magnific-popup &ndash;&gt;-->
<!--	<script src="{% static 'main/js/jquery.magnific-popup.min.js' %}"></script>-->
<!--	&lt;!&ndash; Offcanvas Menu &ndash;&gt;-->
<!--	<script src="{% static 'main/js/hippo-offcanvas.js' %}"></script>-->
<!--	&lt;!&ndash; inview &ndash;&gt;-->
<!--	<script src="{% static 'main/js/jquery.inview.min.js' %}"></script>-->
<!--	&lt;!&ndash; stellar &ndash;&gt;-->
<!--	<script src="{% static 'main/js/jquery.stellar.js' %}"></script>-->
<!--	&lt;!&ndash; countTo &ndash;&gt;-->
<!--	<script src="{% static 'main/js/jquery.countTo.js' %}"></script>-->
<!--	&lt;!&ndash; classie &ndash;&gt;-->
<!--	<script src="{% static 'main/js/classie.js' %}"></script>-->
<!--	&lt;!&ndash; selectFx &ndash;&gt;-->
<!--	<script src="{% static 'main/js/selectFx.js' %}"></script>-->
<!--	&lt;!&ndash; sticky kit &ndash;&gt;-->
<!--	<script src="{% static 'main/js/jquery.sticky-kit.min.js' %}"></script>-->
<!--	&lt;!&ndash; GOGLE MAP &ndash;&gt;-->
<!--	<script src="https://maps.googleapis.com/maps/api/js' %}"></script>-->
<!--	&lt;!&ndash;TWITTER FETCHER&ndash;&gt;-->
<!--	<script src="{% static 'main/js/twitterFetcher_min.js' %}"></script>-->
<!--	&lt;!&ndash; Custom Script &ndash;&gt;-->
<!--	<script src="{% static 'main/js/scripts.js' %}"></script>-->

<!--	<script src="{% static 'main/js/orders.js' %}"></script>-->

<!--	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" />-->
<!--    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>-->

	{% block jscode %}

	{% endblock jscode %}
</body>
</html>