{% extends 'main/base_layout.html' %}
{% load static %}


{% block title %} {{ title }} {% endblock %}


{% block head %}

{% endblock head %}


{% block content %}

<section class="feature-section ">
    <div class="container">
        <div class="row">
            <div class="main-2-div">
                <div class="col-sm-7 col-xs-12">
                    <h2 class="text-g">G-TASTES</h2>

                    <p class="text-g text-g2">это вкусные рецепты из мира видеоигр</p>

                    <p class="text-g text-g3">Мы поможем вам приготовить то, что так нравится вашим героям из видеоигр</p>
                </div>
            
                <img class="img-ramen" src="{% static 'main/img/cartoon-ramen-no-background-free-png.png' %}">

            </div>

        </div>
    </div>
</section>
<hr>
<section class="feature-section section-padding">
    <div class="container">
        <div class="row">
            <div class="main-2-div">

                <img class="img-gril" src="{% static 'main/img/image5.jpeg' %}">

                <div class="col-sm-7 col-xs-12">
                    <p class="text-p text-g3">
                        <span class="text-logo">G-TASTES</span>
                         - это уникальная компания, которая вдохновляется миром видеоигр для создания захватывающих кулинарных рецептов. Мы создаем блюда, которые оживляют известных персонажей, места и атмосферу игр, чтобы принести удовольствие как геймерам, так и гурманам. Наш подход объединяет воедино две страсти: игры и кулинарию.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<hr>
<section class="feature-section section-padding">
    <div class="container">
        <h3 class="cat-head">Каталог</h3>
        <br>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10">Рецепт</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100 main-cat-rec margin-bottom-30">
                    <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                    <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <span class="rec-cat">Healthy</span>
                        <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                        <div class="rec-info margin-bottom-10">
                            <span >24 min</span>
                            <div class="rec-info2">
                                <img src="{% static 'main/img/star.png' %}">
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="btn btn-rec margin-bottom-10">Рецепт</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}


{% block jscode %}

{% endblock jscode %}