{% extends 'main/base_layout.html' %}
{% load static %}


{% block title %} {{ title }} {% endblock %}


{% block head %}

{% endblock head %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'main/multiselect/src/jquery.multi-select.js' %}"></script>

{% block content %}

<section class="feature-section section-padding">
    <div class="container">
        <div class="single-recipe-detail">
            <div class="single-recipe-heading">
                <h2 class="text-black">{{ recipe.name }}</h2>
            </div>
            <div class="recipe-detail">
                <div class="recipe-detail-images">
                    <img class="recipe-detail-img" src="{{ recipe.image.url }}">
                    <div class="rating-stars">
                        <img class="recipe-detail-star" src="{% static 'main/img/image15.png' %}">
                        <img class="recipe-detail-star" src="{% static 'main/img/image15.png' %}">
                        <img class="recipe-detail-star" src="{% static 'main/img/image15.png' %}">
                        <img class="recipe-detail-star" src="{% static 'main/img/image15.png' %}">
                        <img class="recipe-detail-star" src="{% static 'main/img/image15.png' %}">
                    </div>
                </div>

                <div class="recipe-specs">
                    <div class="recipe-specs-box">
                        <h3 class="color-black specs-detail">{{ recipe.idGame.name }}</h3>
                    </div>
                    <div class="recipe-specs-box">
                        <h3 class="color-black specs-detail">{{ recipe.nameInGame }}</h3>
                    </div>
                </div>
            </div>

            <hr>

            <div class="recipe-info">
                <div class="recipe-times">
                    <div class="recipe-time">
                        <span class="color-black">Будет готово через</span>
                        <span class="color-text">{{ recipe.cookingFullTime }} минут</span>
                    </div>
                    <hr>
                    <div class="recipe-time">
                        <span class="color-black">Время на кухне</span>
                        <span class="color-text">{{ recipe.cookingTime }} минут</span>
                    </div>
                </div>
                <div class="recipe-bzu">
                    <div class="recipe-bzu-detail">
                        <h3 class="color-black specs-detail">Калории</h3>
                        <div class="specs-detail-text">
                            <span class="color-white detail-text">{{ recipe.calories }}</span>
                            <span class="color-white detail-text">кКал</span>
                        </div>
                    </div>
                    <div class="recipe-bzu-detail">
                        <h3 class="color-black specs-detail">Белки</h3>
                        <div class="specs-detail-text">
                            <span class="color-white detail-text">{{ recipe.squirrels }}</span>
                            <span class="color-white detail-text">г</span>
                        </div>
                    </div>
                    <div class="recipe-bzu-detail">
                        <h3 class="color-black specs-detail">Жиры</h3>
                        <div class="specs-detail-text">
                            <span class="color-white detail-text">{{ recipe.fats }}</span>
                            <span class="color-white detail-text">г</span>
                        </div>
                    </div>
                    <div class="recipe-bzu-detail">
                        <h3 class="color-black specs-detail">Углеводы</h3>
                        <div class="specs-detail-text">
                            <span class="color-white detail-text">{{ recipe.carbohydrates }}</span>
                            <span class="color-white detail-text">г</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div class="div-ingredients">
            <h2 class="color-text weight-text">Ингредиенты</h2>
            <div class="div-ingr">
                {% for ing in ingridients %}
                    <div class="ingr">
                        <h3 class="ingr-text color-text"><img class="" style="height:40px;width:40px;" src="{{ ing.idIngredient.image.url }}">{{ ing.idIngredient.name }}<span>{% if ing.amount != 0 %}{{ ing.amount }}{% endif %} {{ ing.idUnit.name }} </span></h3>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="div-steps-recipe">
            <h2 class="color-text weight-text">Пошаговый рецепт</h2>
            <hr>
            {% for inst in instructions %}
                <div class="div-step">
                    <p class="step-text color-black">{{ inst.step }}. {{ inst.description }}</p>
                    {% if '/media/images/4054617' in  inst.image.url %}

                    {% else %}
                    <img class="step-img" src="{{ inst.image.url }}">
                    {% endif %}
                </div>
                <hr>
            {% endfor %}

        </div>

        <hr>
        <div class="div-star-fav">
            <div class="your-star">
                <form method="post" action="/gradesAdd/{{ id }}">
                    {% csrf_token %}
                    <h3 class="color-text star-text">Ваша оценка:
                        {% if userGrade == 5 %}
                            <button class="" name="star"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star2"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star3"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star4"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star5"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                        {% endif %}
                        {% if userGrade == 4 %}
                            <button class="" name="star"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star2"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star3"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star4"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star5"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                        {% endif %}
                        {% if userGrade == 3 %}
                            <button class="" name="star"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star2"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star3"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star4"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                            <button class="" name="star5"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                        {% endif %}
                        {% if userGrade == 2 %}
                            <button class="" name="star"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star2"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star3"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                            <button class="" name="star4"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                            <button class="" name="star5"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                        {% endif %}
                        {% if userGrade == 1 %}
                            <button class="" name="star"><img class="star-fav" src="{% static 'main/img/image15.png' %}" alt=""></button>
                            <button class="" name="star2"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                            <button class="" name="star3"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                            <button class="" name="star4"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                            <button class="" name="star5"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                        {% endif %}
                        {% if userGrade == 0 %}
                            <button class="" name="star"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                            <button class="" name="star2"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                            <button class="" name="star3"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                            <button class="" name="star4"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                            <button class="" name="star5"><img class="star-fav" src="{% static 'main/img/New_Bullet_SilverStar.svg.png' %}" alt=""></button>
                        {% endif %}
                    </h3>
                    </form>
            </div>
            <div class="your-fav">
                    <h3 class="color-text fav-text">Избранное</h3>
                    <form method="post" action="/favoriteAdd/{{ id }}">
                        {% csrf_token %}
                        {% if favorite == 0 %}
                        <button class="" name="favoriteOn"><img class="fav-heart" src="{% static 'main/img/heart.png' %}"></button>
                        {% endif %}
                        {% if favorite == 1 %}
                        <button class="" name="favoriteOff"><img class="fav-heart" style="height:20px;width:19px;" src="{% static 'main/img/Heart_corazón.svg2.png' %}"></button>
                        {% endif %}
                    </form>
            </div>
        </div>
        <hr>


    </div>
</section>
{% endblock content %}


{% block jscode %}

{% endblock jscode %}