{% extends 'main/base_layout.html' %}
{% load static %}


{% block title %} {{ title }} {% endblock %}


{% block head %}

{% endblock head %}


{% block content %}

<section class="feature-section section-padding">
    <div class="container">
        <div class="single-recipe-detail">
            <div class="single-recipe-heading">
                <h2 class="text-black">Жаркое из ягненка с картофелем и горошком</h2>
            </div>
            <div class="recipe-detail">
                <div class="recipe-detail-images">
                    <img class="recipe-detail-img" src="{% static 'main/img/image17.jpeg' %}">
                    <div class="rating-stars">
                        <img class="recipe-detail-star" src="{% static 'main/img/image15.png' %}">
                        <img class="recipe-detail-star" src="{% static 'main/img/image15.png' %}">
                        <img class="recipe-detail-star" src="{% static 'main/img/image15.png' %}">
                        <img class="recipe-detail-star" src="{% static 'main/img/image15.png' %}">
                        <img class="recipe-detail-star" src="{% static 'main/img/image15.png' %}">
                    </div>
                </div>

                <div class="recipe-specs">
                    <div class="recipe-specs-box">
                        <h3 class="color-black specs-detail">Read Dead Redemption 2</h3>
                    </div>
                    <div class="recipe-specs-box">
                        <h3 class="color-black specs-detail">Салун «Смитфилдс» в Валентайне</h3>
                    </div>
                </div>
            </div>

            <hr>

            <div class="recipe-info">
                <div class="recipe-times">
                    <div class="recipe-time">
                        <span class="color-black">Будет готово через</span>
                        <span class="color-text">5 часов 15 минут</span>
                    </div>
                    <hr>
                    <div class="recipe-time">
                        <span class="color-black">Время на кухне</span>
                        <span class="color-text">1 час 30 минут</span>
                    </div>
                </div>
                <div class="recipe-bzu">
                    <div class="recipe-bzu-detail">
                        <h3 class="color-black specs-detail">Калории</h3>
                        <div class="specs-detail-text">
                            <span class="color-white detail-text">183</span>
                            <span class="color-white detail-text">кКал</span>
                        </div>
                    </div>
                    <div class="recipe-bzu-detail">
                        <h3 class="color-black specs-detail">Белки</h3>
                        <div class="specs-detail-text">
                            <span class="color-white detail-text">21</span>
                            <span class="color-white detail-text">г</span>
                        </div>
                    </div>
                    <div class="recipe-bzu-detail">
                        <h3 class="color-black specs-detail">Жиры</h3>
                        <div class="specs-detail-text">
                            <span class="color-white detail-text">13</span>
                            <span class="color-white detail-text">г</span>
                        </div>
                    </div>
                    <div class="recipe-bzu-detail">
                        <h3 class="color-black specs-detail">Углеводы</h3>
                        <div class="specs-detail-text">
                            <span class="color-white detail-text">18</span>
                            <span class="color-white detail-text">г</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div class="div-ingredients">
            <h2 class="color-text weight-text">Ингредиенты</h2>
            <div class="div-ingr">
                <div class="ingr">
                    <h3 class="ingr-text color-text">Лопатка ягненка<span>220 г</span></h3>
                </div>
                <div class="ingr">
                    <h3 class="ingr-text color-text">Лопатка ягненка<span>220 г</span></h3>
                </div>
                <div class="ingr">
                    <h3 class="ingr-text color-text">Лопатка ягненка<span>220 г</span></h3>
                </div>
                <div class="ingr">
                    <h3 class="ingr-text color-text">Лопатка ягненка<span>220 г</span></h3>
                </div>
                <div class="ingr">
                    <h3 class="ingr-text color-text">Лопатка ягненка<span>220 г</span></h3>
                </div>
                <div class="ingr">
                    <h3 class="ingr-text color-text">Лопатка ягненка<span>220 г</span></h3>
                </div>
            </div>
        </div>

        <div class="div-steps-recipe">
            <h2 class="color-text weight-text">Пошаговый рецепт</h2>
            <hr>
            <div class="div-step">
                <p class="step-text color-black">1. Очистите мясо ягненка от жилок и лишнего жира, обмажьте специей чимичурри, солью и перцем, дайте постоять 2,5 часа.</p>
                <img class="step-img" src="{% static 'main/img/image17.jpeg' %}">
            </div>
            <hr>
            <div class="div-step">
                <p class="step-text color-black">2. Быстро обжарьте мясо до золотистой корочки с каждой стороны. Положите в кастрюлю, полностью залейте маслом и поставьте в духовку, разогретую до 120 градусов, на 2 часа — так оно получится мягким и сочным.</p>
                <img class="step-img" src="{% static 'main/img/image17.jpeg' %}">
            </div>
            <hr>
            <div class="div-step">
                <p class="step-text color-black">3. Картофель положите в фольгу, добавьте растительное масло, соль, перец и мелко порубленный чеснок. Заверните и поставьте в разогретую до 180 градусов духовку на 45 минут.</p>
                <img class="step-img" src="{% static 'main/img/image17.jpeg' %}">
            </div>
        </div>

        <hr>
        <div class="div-star-fav">
            <div class="your-star">
                <h3 class="color-text star-text">Ваша оценка:
                    <img class="star-fav" src="{% static 'main/img/image15.png' %}" alt="">
                    <img class="star-fav" src="{% static 'main/img/image15.png' %}" alt="">
                    <img class="star-fav" src="{% static 'main/img/image15.png' %}" alt="">
                </h3>
            </div>
            <div class="your-fav">
                <h3 class="color-text fav-text">Избранное</h3>
                <img class="fav-heart" src="{% static 'main/img/heart.png' %}">
            </div>
        </div>
        <hr>

        <div>
            <h2 class="color-text weight-text">Похожие рецепты</h2>
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col-sm-3">
                    <div class="card h-100 main-cat-rec margin-bottom-30">
                        <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                        <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <span class="rec-cat">Healthy</span>
                            <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                            <div class="rec-info margin-bottom-10">
                                <span >24 мин</span>
                                <div class="rec-info2">
                                    <img class="rec-star" src="{% static 'main/img/image15.png' %}">
                                    <span>4.8</span>
                                </div>
                            </div>
                            <a class="btn btn-rec margin-bottom-10" href="{% url 'recipe' %}">Рецепт</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card h-100 main-cat-rec margin-bottom-30">
                        <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                        <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <span class="rec-cat">Healthy</span>
                            <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                            <div class="rec-info margin-bottom-10">
                                <span >24 мин</span>
                                <div class="rec-info2">
                                    <img class="rec-star" src="{% static 'main/img/image15.png' %}">
                                    <span>4.8</span>
                                </div>
                            </div>
                            <a class="btn btn-rec margin-bottom-10" href="{% url 'recipe' %}">Рецепт</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card h-100 main-cat-rec margin-bottom-30">
                        <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                        <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <span class="rec-cat">Healthy</span>
                            <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                            <div class="rec-info margin-bottom-10">
                                <span >24 мин</span>
                                <div class="rec-info2">
                                    <img class="rec-star" src="{% static 'main/img/image15.png' %}">
                                    <span>4.8</span>
                                </div>
                            </div>
                            <a class="btn btn-rec margin-bottom-10" href="{% url 'recipe' %}">Рецепт</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card h-100 main-cat-rec margin-bottom-30">
                        <img class="rec-heart" src="{% static 'main/img/heart.png' %}">
                        <img src="{% static 'main/img/image10.png' %}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <span class="rec-cat">Healthy</span>
                            <h5 class="card-title card-title-text ">«Картофельные оладьи «Волчьи лапки»</h5>
                            <div class="rec-info margin-bottom-10">
                                <span >24 мин</span>
                                <div class="rec-info2">
                                    <img class="rec-star" src="{% static 'main/img/image15.png' %}">
                                    <span>4.8</span>
                                </div>
                            </div>
                            <a class="btn btn-rec margin-bottom-10" href="{% url 'recipe' %}">Рецепт</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block jscode %}

{% endblock jscode %}